In [10]:
import imp
import time  
import random
import datetime  
import pandas as pd

In [5]:
# 随机生成某时间段之间的日期
call_date=[]
a1=(2022,1,1,0,0,0,0,0,0)       #设置开始日期时间元组（1976-01-01 00：00：00）
a2=(2022,10,2,23,59,59,0,0,0)  #设置结束日期时间元组（1990-12-31 23：59：59）
start=time.mktime(a1)  #生成开始时间戳
end=time.mktime(a2)   #生成结束时间戳
#随机生成10个日期字符串
for i in range(10):
  t=random.randint(start,end)  #在开始和结束时间戳中随机取出一个
  date_touple=time.localtime(t)     #将时间戳生成时间元组
  date=time.strftime("%Y-%m-%d",date_touple) #将时间元组转成格式化字符串（1976-05-21）
  call_date.append(date)
  print(date)
call_date

2022-08-03
2022-02-18
2022-08-15
2022-04-27
2022-02-05
2022-06-10
2022-04-24
2022-05-19
2022-07-18
2022-05-19

['2022-08-03',
 '2022-02-18',
 '2022-08-15',
 '2022-04-27',
 '2022-02-05',
 '2022-06-10',
 '2022-04-24',
 '2022-05-19',
 '2022-07-18',
 '2022-05-19']

In [6]:
# 随机生成某时间段之间的日期
join_date=[]
a1=(2021,1,1,0,0,0,0,0,0)       #设置开始日期时间元组（1976-01-01 00：00：00）
a2=(2021,10,2,23,59,59,0,0,0)  #设置结束日期时间元组（1990-12-31 23：59：59）
start=time.mktime(a1)  #生成开始时间戳
end=time.mktime(a2)   #生成结束时间戳
#随机生成10个日期字符串
for i in range(10):
  t=random.randint(start,end)  #在开始和结束时间戳中随机取出一个
  date_touple=time.localtime(t)     #将时间戳生成时间元组
  date=time.strftime("%Y%m%d",date_touple) #将时间元组转成格式化字符串（1976-05-21）
  join_date.append(date)
  print(date)
join_date

20210926
20210702
20210721
20210424
20210423
20210116
20210716
20210614
20210601
20210824

['20210926',
 '20210702',
 '20210721',
 '20210424',
 '20210423',
 '20210116',
 '20210716',
 '20210614',
 '20210601',
 '20210824']

In [15]:
df=pd.DataFrame({
    'join_date':join_date,
    'call_date':call_date,
    'today':[datetime.datetime.today() for i in range(10)]
})
df

  join_date   call_date                      today
0  20210926  2022-08-03 2022-10-04 20:39:59.841094
1  20210702  2022-02-18 2022-10-04 20:39:59.841094
2  20210721  2022-08-15 2022-10-04 20:39:59.841094
3  20210424  2022-04-27 2022-10-04 20:39:59.841094
4  20210423  2022-02-05 2022-10-04 20:39:59.841094
5  20210116  2022-06-10 2022-10-04 20:39:59.841094
6  20210716  2022-04-24 2022-10-04 20:39:59.841094
7  20210614  2022-05-19 2022-10-04 20:39:59.841094
8  20210601  2022-07-18 2022-10-04 20:39:59.841094
9  20210824  2022-05-19 2022-10-04 20:39:59.841094