In [1]:
import pandas as pd  
import numpy as np  
import time 
import random 
import datetime

In [50]:
# 用于生成call_date
call_date=[]
a1=(2022,1,1,0,0,0,0,0,0)       #设置开始日期时间元组（1976-01-01 00：00：00）
a2=(2022,10,2,23,59,59,0,0,0)  #设置结束日期时间元组（1990-12-31 23：59：59）
start=time.mktime(a1)  #生成开始时间戳
end=time.mktime(a2)   #生成结束时间戳
#随机生成10个日期字符串
for i in range(10):
  t=random.randint(start,end)  #在开始和结束时间戳中随机取出一个
  date_touple=time.localtime(t)     #将时间戳生成时间元组
  date=time.strftime("%Y-%m-%d",date_touple) #将时间元组转成格式化字符串（1976-05-21）
  call_date.append(date)
  print(date)
call_date

2022-05-04
2022-05-30
2022-03-15
2022-08-19
2022-09-28
2022-06-08
2022-03-25
2022-07-19
2022-08-08
2022-07-15

['2022-05-04',
 '2022-05-30',
 '2022-03-15',
 '2022-08-19',
 '2022-09-28',
 '2022-06-08',
 '2022-03-25',
 '2022-07-19',
 '2022-08-08',
 '2022-07-15']

In [41]:
# 用于生成join_date
join_date=[]
a1=(2021,1,1,0,0,0,0,0,0)       #设置开始日期时间元组（1976-01-01 00：00：00）
a2=(2021,10,2,23,59,59,0,0,0)  #设置结束日期时间元组（1990-12-31 23：59：59）
start=time.mktime(a1)  #生成开始时间戳
end=time.mktime(a2)   #生成结束时间戳
#随机生成10个日期字符串
for i in range(10):
  t=random.randint(start,end)  #在开始和结束时间戳中随机取出一个
  date_touple=time.localtime(t)     #将时间戳生成时间元组
  date=time.strftime("%Y%m%d",date_touple) #将时间元组转成格式化字符串（1976-05-21）
  join_date.append(date)
  print(date)
join_date

20210102
20210909
20210522
20210731
20210210
20210411
20210420
20210524
20210907
20210302

['20210102',
 '20210909',
 '20210522',
 '20210731',
 '20210210',
 '20210411',
 '20210420',
 '20210524',
 '20210907',
 '20210302']

In [61]:
df=pd.DataFrame({
    'ID':random.sample(range(100,999),10),
    'label':[random.randint(0,1) for i in np.arange(10)],
    'today':[datetime.datetime.today() for i in range(10)],
    'call_date':call_date, 
    'join_date':join_date,
    'feature1':[random.randint(1,3) for i in range(10)],
    'feature2':random.sample(range(1,10000),10)
})
df

,ID,label,today,call_date,join_date,feature1,feature2
0,284,0,2022-10-04 22:49:22.748310,2022-05-04,20210102,1,3928
1,933,0,2022-10-04 22:49:22.748310,2022-05-30,20210909,2,4357
2,833,1,2022-10-04 22:49:22.748310,2022-03-15,20210522,2,920
3,533,1,2022-10-04 22:49:22.748310,2022-08-19,20210731,2,4542
4,898,1,2022-10-04 22:49:22.748310,2022-09-28,20210210,3,5795
5,625,0,2022-10-04 22:49:22.748310,2022-06-08,20210411,2,8730
6,438,0,2022-10-04 22:49:22.748310,2022-03-25,20210420,2,7799
7,522,0,2022-10-04 22:49:22.748310,2022-07-19,20210524,3,2850
8,562,0,2022-10-04 22:49:22.748310,2022-08-08,20210907,3,7181
9,516,0,2022-10-04 22:49:22.748310,2022-07-15,20210302,3,8124

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         10 non-null     int64
 1   label      10 non-null     int64
 2   today      10 non-null     datetime64[ns]
 3   call_date  10 non-null     object
 4   join_date  10 non-null     object
 5   feature1   10 non-null     int64
 6   feature2   10 non-null     int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 688.0+ bytes

In [63]:
#计算today-call_date
df['call_date_cnt'] = (pd.to_datetime(df['today']) -
                       pd.to_datetime(df['call_date'])).dt.days
#计算today-join_date
df['join_date_cnt'] = (pd.to_datetime(df['today']) -
                       pd.to_datetime(df['join_date'])).dt.days
df

,ID,label,today,call_date,join_date,feature1,feature2,call_date_cnt,join_date_cnt
0,284,0,2022-10-04 22:49:22.748310,2022-05-04,20210102,1,3928,153,640
1,933,0,2022-10-04 22:49:22.748310,2022-05-30,20210909,2,4357,127,390
2,833,1,2022-10-04 22:49:22.748310,2022-03-15,20210522,2,920,203,500
3,533,1,2022-10-04 22:49:22.748310,2022-08-19,20210731,2,4542,46,430
4,898,1,2022-10-04 22:49:22.748310,2022-09-28,20210210,3,5795,6,601
5,625,0,2022-10-04 22:49:22.748310,2022-06-08,20210411,2,8730,118,541
6,438,0,2022-10-04 22:49:22.748310,2022-03-25,20210420,2,7799,193,532
7,522,0,2022-10-04 22:49:22.748310,2022-07-19,20210524,3,2850,77,498
8,562,0,2022-10-04 22:49:22.748310,2022-08-08,20210907,3,7181,57,392
9,516,0,2022-10-04 22:49:22.748310,2022-07-15,20210302,3,8124,81,581

In [82]:
df['call_date'].apply(lambda x: (pd.to_datetime(df['today'])-pd.to_datetime(x)).dt.days)

     0    1    2    3    4    5    6    7    8    9
0  153  153  153  153  153  153  153  153  153  153
1  127  127  127  127  127  127  127  127  127  127
2  203  203  203  203  203  203  203  203  203  203
3   46   46   46   46   46   46   46   46   46   46
4    6    6    6    6    6    6    6    6    6    6
5  118  118  118  118  118  118  118  118  118  118
6  193  193  193  193  193  193  193  193  193  193
7   77   77   77   77   77   77   77   77   77   77
8   57   57   57   57   57   57   57   57   57   57
9   81   81   81   81   81   81   81   81   81   81

In [83]:
df['call_date'].apply(lambda x: (pd.to_datetime(df['today'][0:1])-pd.to_datetime(x)).dt.days)

     0
0  153
1  127
2  203
3   46
4    6
5  118
6  193
7   77
8   57
9   81

In [84]:
for i in ['call_date','join_date']:
    df[i]=df[i].apply(lambda x: (pd.to_datetime(df['today'][0:1])-pd.to_datetime(x)).dt.days)

In [85]:
df

,ID,label,today,call_date,join_date,feature1,feature2,call_date_cnt,join_date_cnt
0,284,0,2022-10-04 22:49:22.748310,153,640,1,3928,153,640
1,933,0,2022-10-04 22:49:22.748310,127,390,2,4357,127,390
2,833,1,2022-10-04 22:49:22.748310,203,500,2,920,203,500
3,533,1,2022-10-04 22:49:22.748310,46,430,2,4542,46,430
4,898,1,2022-10-04 22:49:22.748310,6,601,3,5795,6,601
5,625,0,2022-10-04 22:49:22.748310,118,541,2,8730,118,541
6,438,0,2022-10-04 22:49:22.748310,193,532,2,7799,193,532
7,522,0,2022-10-04 22:49:22.748310,77,498,3,2850,77,498
8,562,0,2022-10-04 22:49:22.748310,57,392,3,7181,57,392
9,516,0,2022-10-04 22:49:22.748310,81,581,3,8124,81,581

In [58]:
df1=pd.DataFrame({
    'ID':random.sample(range(100,999),10),
    'label':[random.randint(0,1) for i in np.arange(10)],
    'today':[datetime.datetime.today() for i in range(10)],
    'call_date':call_date, 
    'join_date':join_date,
    'feature1':[random.randint(1,3) for i in range(10)],
    'feature2':random.sample(range(1,10000),10)
})
df1

,ID,label,today,call_date,join_date,feature1,feature2
0,665,1,2022-10-04 22:42:15.525411,2022-05-04,20210102,3,6852
1,950,0,2022-10-04 22:42:15.525411,2022-05-30,20210909,2,6506
2,455,1,2022-10-04 22:42:15.525411,2022-03-15,20210522,2,5818
3,290,1,2022-10-04 22:42:15.525411,2022-08-19,20210731,2,2386
4,716,1,2022-10-04 22:42:15.525411,2022-09-28,20210210,1,1032
5,177,0,2022-10-04 22:42:15.525411,2022-06-08,20210411,2,9851
6,529,0,2022-10-04 22:42:15.525411,2022-03-25,20210420,2,2669
7,979,0,2022-10-04 22:42:15.525411,2022-07-19,20210524,2,831
8,204,0,2022-10-04 22:42:15.525411,2022-08-08,20210907,1,6903
9,848,0,2022-10-04 22:42:15.525411,2022-07-15,20210302,2,8911

In [59]:
#计算today-call_date
df1['call_date_cnt'] = (pd.to_datetime(df1['today']) -
                       pd.to_datetime(df1['call_date'])).dt.days
#计算today-join_date
df1['join_date_cnt'] = (pd.to_datetime(df1['today']) -
                       pd.to_datetime(df1['join_date'])).dt.days
df1

,ID,label,today,call_date,join_date,feature1,feature2,call_date_cnt,join_date_cnt
0,665,1,2022-10-04 22:42:15.525411,2022-05-04,20210102,3,6852,153,640
1,950,0,2022-10-04 22:42:15.525411,2022-05-30,20210909,2,6506,127,390
2,455,1,2022-10-04 22:42:15.525411,2022-03-15,20210522,2,5818,203,500
3,290,1,2022-10-04 22:42:15.525411,2022-08-19,20210731,2,2386,46,430
4,716,1,2022-10-04 22:42:15.525411,2022-09-28,20210210,1,1032,6,601
5,177,0,2022-10-04 22:42:15.525411,2022-06-08,20210411,2,9851,118,541
6,529,0,2022-10-04 22:42:15.525411,2022-03-25,20210420,2,2669,193,532
7,979,0,2022-10-04 22:42:15.525411,2022-07-19,20210524,2,831,77,498
8,204,0,2022-10-04 22:42:15.525411,2022-08-08,20210907,1,6903,57,392
9,848,0,2022-10-04 22:42:15.525411,2022-07-15,20210302,2,8911,81,581

In [60]:
for i in ['call_date', 'join_date']:
    df1[i] = (pd.to_datetime(df1['today']) -
              pd.to_datetime(df1[i])).dt.days
df1

,ID,label,today,call_date,join_date,feature1,feature2,call_date_cnt,join_date_cnt
0,665,1,2022-10-04 22:42:15.525411,153,640,3,6852,153,640
1,950,0,2022-10-04 22:42:15.525411,127,390,2,6506,127,390
2,455,1,2022-10-04 22:42:15.525411,203,500,2,5818,203,500
3,290,1,2022-10-04 22:42:15.525411,46,430,2,2386,46,430
4,716,1,2022-10-04 22:42:15.525411,6,601,1,1032,6,601
5,177,0,2022-10-04 22:42:15.525411,118,541,2,9851,118,541
6,529,0,2022-10-04 22:42:15.525411,193,532,2,2669,193,532
7,979,0,2022-10-04 22:42:15.525411,77,498,2,831,77,498
8,204,0,2022-10-04 22:42:15.525411,57,392,1,6903,57,392
9,848,0,2022-10-04 22:42:15.525411,81,581,2,8911,81,581

In [86]:
df2=pd.DataFrame({
    'ID':random.sample(range(100,999),10),
    'label':[random.randint(0,1) for i in np.arange(10)],
    'today':[datetime.datetime.today() for i in range(10)],
    'call_date':call_date, 
    'join_date':join_date,
    'feature1':[random.randint(1,3) for i in range(10)],
    'feature2':random.sample(range(1,10000),10)
})
df2

,ID,label,today,call_date,join_date,feature1,feature2
0,838,1,2022-10-04 23:12:20.572625,2022-05-04,20210102,2,277
1,408,1,2022-10-04 23:12:20.572625,2022-05-30,20210909,3,9220
2,231,0,2022-10-04 23:12:20.572625,2022-03-15,20210522,2,5384
3,211,1,2022-10-04 23:12:20.572625,2022-08-19,20210731,3,2185
4,515,0,2022-10-04 23:12:20.572625,2022-09-28,20210210,2,5209
5,292,1,2022-10-04 23:12:20.572625,2022-06-08,20210411,3,2393
6,596,1,2022-10-04 23:12:20.572625,2022-03-25,20210420,3,2374
7,435,1,2022-10-04 23:12:20.572625,2022-07-19,20210524,1,2551
8,592,0,2022-10-04 23:12:20.572625,2022-08-08,20210907,1,6157
9,591,1,2022-10-04 23:12:20.572625,2022-07-15,20210302,3,3856

In [87]:
#计算today-call_date
df2['call_date_cnt'] = (pd.to_datetime(df2['today']) -
                       pd.to_datetime(df2['call_date'])).dt.days
#计算today-join_date
df2['join_date_cnt'] = (pd.to_datetime(df2['today']) -
                       pd.to_datetime(df2['join_date'])).dt.days
df2

,ID,label,today,call_date,join_date,feature1,feature2,call_date_cnt,join_date_cnt
0,838,1,2022-10-04 23:12:20.572625,2022-05-04,20210102,2,277,153,640
1,408,1,2022-10-04 23:12:20.572625,2022-05-30,20210909,3,9220,127,390
2,231,0,2022-10-04 23:12:20.572625,2022-03-15,20210522,2,5384,203,500
3,211,1,2022-10-04 23:12:20.572625,2022-08-19,20210731,3,2185,46,430
4,515,0,2022-10-04 23:12:20.572625,2022-09-28,20210210,2,5209,6,601
5,292,1,2022-10-04 23:12:20.572625,2022-06-08,20210411,3,2393,118,541
6,596,1,2022-10-04 23:12:20.572625,2022-03-25,20210420,3,2374,193,532
7,435,1,2022-10-04 23:12:20.572625,2022-07-19,20210524,1,2551,77,498
8,592,0,2022-10-04 23:12:20.572625,2022-08-08,20210907,1,6157,57,392
9,591,1,2022-10-04 23:12:20.572625,2022-07-15,20210302,3,3856,81,581

In [89]:
(pd.to_datetime(df2['call_date'])-pd.to_datetime(df2['join_date'])).dt.days

0    487
1    263
2    297
3    384
4    595
5    423
6    339
7    421
8    335
9    500
dtype: int64

In [91]:
df2['call_date'].apply(lambda x:(pd.to_datetime(x)-pd.to_datetime(df2['join_date'])).dt.days )

     0    1    2    3    4    5    6    7    8    9
0  487  237  347  277  448  388  379  345  239  428
1  513  263  373  303  474  414  405  371  265  454
2  437  187  297  227  398  338  329  295  189  378
3  594  344  454  384  555  495  486  452  346  535
4  634  384  494  424  595  535  526  492  386  575
5  522  272  382  312  483  423  414  380  274  463
6  447  197  307  237  408  348  339  305  199  388
7  563  313  423  353  524  464  455  421  315  504
8  583  333  443  373  544  484  475  441  335  524
9  559  309  419  349  520  460  451  417  311  500

In [96]:
(pd.to_datetime('2022-05-04')-pd.to_datetime('20210909'))

Timedelta('237 days 00:00:00')

In [92]:
df2[['call_date','join_date']]

    call_date join_date
0  2022-05-04  20210102
1  2022-05-30  20210909
2  2022-03-15  20210522
3  2022-08-19  20210731
4  2022-09-28  20210210
5  2022-06-08  20210411
6  2022-03-25  20210420
7  2022-07-19  20210524
8  2022-08-08  20210907
9  2022-07-15  20210302

call_date[0,0]-join_date所有行形成第一行；call_date[1,0]-join_date所有行形成第二行；以此类推......所以两列n行数字通过apply固定一个相减，会形成一个$n \times n$的矩阵。